<!-- 	Request failed Modal
		It is used if an action can not be send.
 -->
<div class="modal fade scrollen" id="failModal" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" ;">
				<h4> Request</h4>
			</div>
			<div class="modal-body" >
				<p>Request konnte nicht erfolgreich ausgeführt werden.<p>
			</div>
		</div>
	</div>
</div>