<!-- 
	Modal which is shown if an action has sent a request successfully
 -->
<div class="modal fade scrollen" id="runRequest" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" ;">
				<h4> Request</h4>
			</div>
			<div class="modal-body" >
				<p>Request wurde erfolgreich an das das Gerät gesendet.<p>
			</div>
		</div>
	</div>
</div>