<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="styleSheet" type="text/css" href="css/style.css" />
    <% include ../partials/head %>
	<script type="text/javascript">
	
		$(document).ready(function(){  
			document.getElementById('myNavbar').style.visibility='hidden';
			document.getElementById('navBrand').style.visibility='hidden';
			document.getElementById('menubutton').style.display='none';
        $("#loginModal").modal({backdrop: 'static', keyboard: false});    
		});
		
		function onSwitchReg() {
			$("#loginModal").modal("hide");
			$("#regModal").modal({backdrop: 'static', keyboard: false});
		};
		
		function onBackLogin(){
			$("#regModal").modal("hide");
			$("#loginModal").modal("show");
		};
		
		function onLogin() {
			var data = $('#loginModal form#loginForm').serializeArray();
			var username = data[0].value;
			var password = data[1].value;
			$.ajax({
				url: "http://localhost:8088/api/v1/users/login/",
				method: "Post",
				date: {
					username,
					password
				}
			});
			//$.post(url, data, callback, "json");
			//alert(data);
			onClear();
		}
		
		function onRegister(){
			var data = $('#regModal form#registerForm').serializeArray();
			var username = data[0].value;
			var password = data[1].value;
			var password2 = data[2].value;
			
			if(password === password2){
			
		
			$.ajax({
					url: "http://localhost:8088/api/v1/users",
					method: "POST",
					data: {
						username,
						password
					}
				}).done( () => {console.log("Logged in as user "+ username);}).fail( e => {console.log("fehler : "+e);});
				}
				
		}
		
		function onClear(){
			$('#loginModal input#user').val('');
			$('#loginModal input#password').val('');
			$('#loginModal input#password').first().focus();
			
		}
		
		
		
		
		
			
		
	</script>
</head>
<body >
	<header>
		<% include ../partials/header %>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<% include ../partials/login %>
				<% include ../partials/register %>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	
	
		
		
    
</body>
</html>	