<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="styleSheet" type="text/css" href="css/style.css" />
    <% include ../partials/head %>
	<script type="text/javascript">
	
		$(document).ready(function(){  
			document.getElementById('myNavbar').style.visibility='hidden';
			document.getElementById('navBrand').style.visibility='hidden';
			document.getElementById('menubutton').style.display='none';
        $("#loginModal").modal({backdrop: 'static', keyboard: false});    
		});
		
		function onSwitchReg() {
			$("#loginModal").modal("hide");
			$("#regModal").modal({backdrop: 'static', keyboard: false});
		};
		
		function onBackLogin(){
			$("#regModal").modal("hide");
			$("#loginModal").modal("show");
		};
		
		function validateLogin() {
			var user = document.getElementById('username').value;
			var pw = document.getElementById('psw').value;
			if(user === 'admin' ){
				window.location = "main.html";
			}
		}
		
		
		
		
		
			
		
	</script>
</head>
<body >
	<header>
		<% include ../partials/header %>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<% include ../partials/login %>
				<% include ../partials/register %>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	
	
		
		
    
</body>
</html>	