<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="styleSheet" type="text/css" href="static/css/style.css" />
    <% include ../partials/head %>
	<script type="text/javascript">
	
		$(document).ready(function(){  
			document.getElementById('myNavbar').style.visibility='hidden';
			document.getElementById('navBrand').style.visibility='hidden';
			document.getElementById('menubutton').style.display='none';
			$("#loginModal").modal({backdrop: 'static', keyboard: false});    
		});

		
		function onRegister(){
			var data = $('#registerForm').serializeArray();
			  
			
			var username = data[0].value;
			var password = data[1].value;
			var password2 = data[2].value;
			
			if(password === password2 ){
			
			$('#username').parent('div').removeClass('has-error');
			$.ajax({
					url: "http://localhost:8088/api/v1/users",
					method: "POST",
					data: {
						username,
						password
					},
					success: function(data){
						alert(data);
					},
					error: function(data){
						console.log(data);
						$('#username').parent('div').addClass('has-error');
						
						
					}
					
				});
				}
				else{
					$('#password').parent('div').addClass('has-error');
					$('#password2').parent('div').addClass('has-error');
				}
				
		}
		function onBackLogin(){
			window.location="http://www.google.de";
		}
		
	
</script>
</head>
<body >
	<header>
		<% include ../partials/header %>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Register</h3>
					  </div>
					  <div class="panel-body">
						<form role="form" id="registerForm">
							<div class="form-group">
							  <label for="usrname" id="user"><span class="glyphicon glyphicon-user"></span> Benutzername</label>
							  <input type="text" class="form-control" name="username" id="username" placeholder="Benutzername">
							</div>
							<div class="form-group">
								<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Passwort</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Passwort">
							</div><div class="form-group">
								<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Passwort</label>
								<input type="password" class="form-control" name="repassword" id="password2" placeholder="Passwort">
							</div>

							<!-- Login Cancel Button -->
							<button type="Button" class="btn btn-success btn-md center-block " onclick="onRegister()"><span class="glyphicon glyphicon-pencil"></span> Registrieren</button>
						</form>
					  </div>
					 <div class="panel-footer">
						<div class="row">
							<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-default btn-block" data-dismiss="modal" id="register" onclick="onBackLogin()"><span class="glyphicon glyphicon-log-in"></span> Zum Login</button>
							</div>
							<div class="col-sm-4"></div>
						</div>
					 </div>
				</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	
	
		
		
    
</body>
</html>	