<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="styleSheet" type="text/css" href="static/css/style.css" />
    <% include ../partials/head %>
	<script type="text/javascript">
			function savePassword(){
				var password_old = $(" input#password").val();
				var password_new = $(" input#newPW").val();
				var password_re = $(" input#rePW").val();
				
				if( password_new === password_re){
					$.ajax({
						url: "http://localhost:8088/api/v1/users/",
						method: "PUT",
						data: {
							password_old,
							password_new
						},
						success:function(){
							$('#passwordModal').modal('show');
						},
						error: function(){
							$('#passwordModalfail').modal('show');
						}
					});
				}
				else{
					$('#passwordModalfail').modal('show');
				}
				
				
			}
			function onLogout(){
			$.ajax({
				url: "http://localhost:8088/api/v1/users/logout",
				method: "post",
				data: {},
				success: function(data){
					console.log(data);
					window.location="http://localhost:8088/";
				},
				error: function(data){
					console.log(data);
				}
			});
			}
		
		function deleteAcc(){
			$.ajax({
				url: "http://localhost:8088/api/v1/users/",
				method: "DELETE",
				data: {},
				success: function(){
					alert("user gelöscht");
				},
				error: function(){
					window.alert("user konnte nicht gelöscht werden");
				}
			});
		}
		
	</script>
</head>
<body >

<header>
				<% include ../partials/header %>
				
				
			</header>
<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Passwort ändern</h3>
			  </div>
			  <div class="panel-body">
				<form role="form">
					<div class="form-group">
								  
								  <input type="password" class="form-control" id="password" placeholder="Aktuelles Passwort">
								</div>
								<div class="form-group">
									
									<input type="password" class="form-control" id="newPW" placeholder="Neues Passwort">
								</div>
								<div class="form-group">
									
									<input type="password" class="form-control" id="rePW" placeholder="Neues Passwort wiederholen">
								</div>								
						</form>
						<button type="button" class="btn btn-success btn-default pull-center" onclick="savePassword()"><span class="glyphicon glyphicon-save"></span> Speichern</button>
				
				
			  </div>
			  </div>
			  
			  
			<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Account löschen</h3>
			  </div>
			  <div class="panel-body">
				<button type="button" class="btn btn-success btn-danger btn-block" onclick="deleteAcc()">Account dauerhaft löschen</button>
			  </div>
			</div>

		<% include ../partials/password %>
		<% include ../partials/pwfail %>
			
		</div>
		<div class="col-sm-3"></div>
		
	</div>
</div>
			<footer>
				<% include ../partials/footer %>
			</footer>
		
    
</body>
</html>