.wrapper {
	padding-top: 70px;
}

#nav {
	z-index: 3;
}

.test {
	background-image:url(images/post-it.jpg);
	background-size:cover;
}

.test2 {
	background-color: #d6d6c2;
	color:#ffffff;
	height:200px;
	background-image:url(images/board2.jpg);
	background-size:cover;
}

.fixedbutton {
    position: fixed;
    bottom: 3%;
	z-index: 1;
}

.login {
	margin-top: 10%;
}

.login-btn {
	
}

.account-btn {
	
}

.eingaben {
	font-family: Arial Black;
	font-weight: bold;
}

.background-login {
	background-color: #91A8D0;
}

.register {
	text-align: right;
}

  .modal-header, h4, .close {
      background-color: #373A3C;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

