.wrapper {
	padding-top: 70px;
}

#nav {
	z-index: 3;
}

.test {
	background-image:url(images/post-it.jpg);
	background-size:cover;
}

.test2 {
	background-color: #d6d6c2;
	color:#ffffff;
	height:200px;
	background-image:url(images/board2.jpg);
	background-size:cover;
}

.fixedbutton {
    position: fixed;
    bottom: 90%;
    right: 80%;
	z-index: 1;
}

.login {
	margin-top: 50%;
	
}

.eingaben {
	font-family: Arial Black;
	font-weight: bold;
}

