<!--
	The Main page. On this page an user can create and see the Gadgets. 
	Furthermore actions for each gadget can be created and executed
-->
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
<script type="text/javascript">

		var count = 0;
		var deviceName = "";		
		
		//load all gadget and show them on the webpage.
		$(document).ready(function(){
			$.ajax({
				url: "http://localhost:8088/api/v1/devices",
				method: "GET",
				success: function(data){
					
					// create a panel for each gadget
					for(var i = 0; i < data.length; i++){
						console.log(i);
						console.log(data[i]);
						var name = data[i].name;
						var adress = data[i].adress;
						var port = data[i].port;
						var actions;
						actions = data[i].actions;
						createGadgetEntry(name, adress, port, actions);
					}
				},
				error: function(data){
					console.log(data);
				}
			});
		});


		//show modal that the user can type in the specifi data (name, ip, port) of an gadget
		function onCreateGadget(){
		$("#createModal").modal("show");
		}

		//create a gadget. to do this get all data the user typed in an send it to the backend.
		//The name of a gadget is unique.
		function onGadgetEntry(){
			var name = $("#createModal input#gadgetName").val();
			var adress = $("#createModal input#ip").val();
			var port = $("#createModal input#port").val();

			if( name && adress && port){
				$.ajax({
					url: "http://localhost:8088/api/v1/devices",
					method: "POST",
					data: {
						name,
						adress,
						port
					},
					success: function(data){
						$("#createModal").modal("hide");
						clearInput();
						window.location="http://localhost:8088/";
					},
					error: function(data){
						console.log(data);
						$('#gadgetName').parent('div').addClass('has-error');
					}
				});
			}
			else{
				//mark error if an input fiel contains an empty string
				$('#ip').parent('div').addClass('has-error');
				$('#gadgetName').parent('div').addClass('has-error');
				$('#port').parent('div').addClass('has-error');
			}
		}

		//create Gadget and show it on the screen
		function createGadgetEntry(name, ip, port,actions){
			var button = '';
			var begin = '<div class="panel panel-primary" id='+name+'><div class="panel-heading"><h2 class="panel-title">'+name +'</h2><button class="btn btn-xs btn-default pull-right glyphicon glyphicon-remove" onclick="deleteGadget(event)"></button></div><div class="panel-body"><b><p>IP-Adresse: </b>'+ip+'</p><P><b>Port: </b>'+port+'</p></div>';
			var end = '</div></div>';
			var footer = '<div class="panel-footer clearfix"><button class="btn btn-xs btn-primary pull-right glyphicon glyphicon-plus" onclick="onCreateAction(event)"></button>';
			var panel;
			
			//if actions are defined, add them to the panel footer.
			if(actions.length == 0){
				panel = begin+footer+end;
			}
			else{
				for(var a=0; a < actions.length; a++){
					button += '<button class="btn btn-xs btn-success" onclick="runAction(event)" id='+actions[a].name+'>'+actions[a].name+'</button>'
				}
				panel = begin+footer+button+end;
			}

			//decide on which column the panel/gadget is shwon
			if(count % 2 == 0){
				$("#col1").prepend(panel);
				count++;
			}
			else{
				$("#col2").prepend(panel);
				count++;
			}
		}

		// clears the user input. Placeholders are shown in each input field.
		function clearInput(){
			$("#createModal input#gadgetName").val('');
			$("#createModal input#ip").val('');
			$("#createModal input#port").val('');
			$("#createModal input").first().focus();
			$('#ip').parent('div').removeClass('has-error');
			$('#gadgetName').parent('div').removeClass('has-error');
			$('#port').parent('div').removeClass('has-error');
		}

		// function which is executed, when the create Model is closed
		function closeGadgetEntry(){
			$("#createModal").modal("hide");
			clearInput();
		}

		//Logout function the user can use to log off.
		function onLogout(){
			$.ajax({
				url: "http://localhost:8088/api/v1/users/logout",
				method: "post",
				data: {},
				success: function(data){
					console.log(data);
					window.location="http://localhost:8088/";
				},
				error: function(data){
					console.log(data);
				}
			});
		}
		
		//delete a gadget, which is never used
		function deleteGadget(){
			//get the id of the gadget, which is stored in the panel
			var name = event.path[3].id;
			if(name == "col1" || name == "col2"){
				name = event.path[2].id;
			}
			//send the request to delete the gadget.
			$.ajax({
				url: "http://localhost:8088/api/v1/devices",
				method: "DELETE",
				data: {
					name
				},
				success: function(data){
					window.location="http://localhost:8088/";
				},
				error: function(data){
					alert(data);
				}
			});
		}

		//create an action for a gadget and store the deviceName in the variable.
		function onCreateAction(){
			$("#createAction").modal("show");
			deviceName = event.path[2].id;
		}

		//Store the created action in the database.
		function createAction(){
			var name = $("#createAction input#action").val();
			var route = $("#createAction input#route").val();
			var type = $("#createAction  input[type='radio']:checked").val();
			if(name && route && type){
				$.ajax({
					url: "http://localhost:8088/api/v1/actions/",
					method: "POST",
					data: {
							name,
							type,
							route,
							deviceName
					},
					success: function(data){
						closeAction();
						window.location="http://localhost:8088/";
					},
					error: function(data){
						console.log(data);
					}
				});
			}
			else{
				$("#action").parent('div').addClass('has-error');
				$("#route").parent('div').addClass('has-error');
			}
			
		}

		//close the modal to create an action an delte the input of the input fields
		function closeAction(){
			$("#createAction").modal("hide");
			$("#createAction input#action").val('');
			$("#createAction input#route").val('');
			$("#action").parent('div').removeClass('has-error');
			$("#route").parent('div').removeClass('has-error');
		}

		//execute an action
		function runAction(){
			//get the device and the action name
			var actionName = event.path[0].id;
			var deviceName = event.path[2].id;
			$.ajax({
				url: "http://localhost:8088/api/v1/actions/run/",
				method: "POST",
				data: {
					actionName,
					deviceName
				},
				success: function(){
					$("#runRequest").modal("show");
				},
				error: function(){
					$("#requestFail").modal("show");
				}
			});
		}
</script>
</head>
<body >
<header>
	<% include ../partials/header %>
</header>
<!-- Use a container to style the page-->
		<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8" id="colGadget">
			<!--The following 2 columns are used to show the gadgets.
				It depends on the counter on which column a gadget is displayed.
			-->
				<div class="col-sm-6" id="col1"></div>
				<div class="col-sm-6" id="col2"></div>
				
				<!-- Button which opens a modal to crate a new gadget-->
				<button type="button" class="fixedbutton btn btn-primary" onclick="onCreateGadget()" id="createBtn">
					<span class="glyphicon glyphicon-plus" ></span>
				</button>
				<!-- Include all partials which are used in this view -->
				
				<% include ../partials/create %>
				<% include ../partials/createAction %>
				<% include ../partials/request %>
				<% include ../partials/requestFail %>
			</div>
			<div class="col-sm-1"></div>
		</div>
		</div>
		<footer >
			<% include ../partials/footer %>
		</footer>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</body>
</html>
