#nav {
	z-index: 3;
}

.test {
	background-image:url(images/post-it.jpg);
	background-size:cover;
}

.test2 {
	
	color:#ffffff;
	height:180px;
	background-image:url(images/board2.jpg);
	background-size:100%;
}

.fixedbutton {
    position: fixed;
    bottom: 3%;
	z-index: 1;
}





.eingaben {
	font-family: Arial Black;
	font-weight: bold;
}

.background-login {
	background-color: #91A8D0;
}

.register {
	text-align: right;
}

.modal-header, h4, .close {
      background-color: #373A3C;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }

.scrollen{
    position: fixed; 
    overflow: hidden;
    width: 100%;

}

.affix {
      top: 0;
      width: 100%;
}

.affix + .container-fluid {
      padding-top: 70px;
}
.farbe{
	color:blue;
}

.footer {
	position: absolute;
	bottom: 0;
	with:100%;
	height 80px;
	text-algin: center;
}