<!-- modal login -->
			<div class="modal fade scrollen" id="createWorkflow" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						
						<div class="modal-header" style="padding:35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4><span class="glyphicon glyphicon-home"></span> Workflow</h4>
						</div>
						
						<div class="modal-body" style="padding:40px 50px;">
							<form role="form" name="createGadget">
								<div class="form-group">
								  <label for="gadget"><span class="glyphicon glyphicon-cd"></span> Workflow</label>
								  <input type="text" class="form-control" id="gadgetname" placeholder="z.B. Kino">
								</div>
																
								<div id="ScrollCB" style="height:50;width:200px;overflow:auto"> 
								 <input type="checkbox" id="scb1" name="scb1" value="1">As Seen On Tv<br> 
								 <input type="checkbox" id="scb2" name="scb2" value="2">Back To Basics<<br> 
								 <input type="checkbox" id="scb3" name="scb3" value="3">Bed Bath &amp; Beyond<br>
								  <input type="checkbox" id="scb4" name="scb4" value="4">Black and Decker<br> 
								 <input type="checkbox" id="scb5" name="scb5" value="5">Borch<br> 
								 <input type="checkbox" id="scb6" name="scb6" value="6">Culsinart<br> 
								 <input type="checkbox" id="scb7" name="scb7" value="7">Dualit Lite<br> 
								 <input type="checkbox" id="scb8" name="scb8" value="8">"Easton<br> 
								 <input type="checkbox" id="scb9" name="scb9" value="9">Euro Cuisine<br> 
								 <input type="checkbox" id="scb10" name="scb10" value="10">Euro-Pro<br> 
								 <input type="checkbox" id="scb11" name="scb11" value="11">Farberware<br> 
								 <input type="checkbox" id="scb12" name="scb12" value="12">Gator<br> 
								 <input type="checkbox" id="scb13" name="scb13" value="13">Hamilton Beach<br> 
								 <input type="checkbox" id="scb14" name="scb14" value="14">Hansgrohe<br> 
								 <input type="checkbox" id="scb15" name="scb15" value="15">International Playthings<br>
								  <input type="checkbox" id="scb16" name="scb16" value="16">Kitchen Aid<br> 
								</div> 
								
								
								<!-- Login Cancel Button -->
								
						</form>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-default pull-left" "><span class="glyphicon glyphicon-pencil"></span> Anlegen</button>
								<button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4"></div>
	</div>	
</div>