<link rel="stylesheet" type="text/css" href="css/style.css" />
<div class="container-fluid test2" >
	  <h1>IoT Manager</h1>
	  <h3>... schaltet alles ein und/ oder aus!</h3>
	  
</div>

<style>

</style>
<link rel"stylesheet" type="text/css" href="css/style.css" />
<!--Navigationsleiste-->
<nav class="navbar navbar-inverse " data-spy="affix" data-offset-top="197" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/main">IoT Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/main">Geräte</a>
          
        </li>
        <li><a href="/wflow">Workflow</a></li>
		</ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
		